# ========================
# Node.js
# ========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ========================
# Environment variables
# ========================
.env
.env.local
.env.development
.env.production

# ========================
# Build folders
# ========================
dist/
build/

# ========================
# OS / Editor files
# ========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ========================
# Logs
# ========================
logs/
*.log

# ========================
# Coverage
# ========================
coverage/
